nav{
    /* background-color: #CBDCEB; */
    background-color: red;
}
.question-list{
    border: 2px solid rgb(211, 209, 209);
    padding: 15px;
    margin: 10px;
}
.answer-wrapper{
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #CBDCEB;
}
